<h1>Check To See If A Word Is An Anagram</h1>
<form action="/form">
  <div class="form-group">
     <label for="word"></label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Check Word!</button>
</form>
